body {
	margin: 0;
}

body,
button,
input,
select,
textarea {
	font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
	font-size: 18px;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

b,
strong {
	font-weight: bold;
}

figure {
	margin: 0;
}

img {
	display: block;
	border: 0;
	width: 100%;
	height: auto;
}


/*--------------------------------------------------------------
Header:
--------------------------------------------------------------*/

.masthead {
	padding: 0 1em;
	text-align: center;
	border-bottom: 1px solid hsl(0, 0%, 90%);
}

/*--------------------------------------------------------------
Navigation:
--------------------------------------------------------------*/
.main-nav {
	padding: 1em;
	font-size: 1.1em;
	color: white;
    background-color: hsl(0, 0%, 10%);
}

.trigger {
	display: none;
	padding: .1em .5em;
	margin-left:-1.1em;
	color: white;
	background: hsl(0, 0%, 10%);
	border: none;
	transform: rotate(90deg);
}
.reveal .trigger{
	margin-left: 0em;
}

.trigger:hover {
	outline: 2px dotted hsl(0, 0%, 10%);
}

.main-nav ul {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.main-nav a {
	display: block;
	padding: .4em 1em;
	color: white;
	text-decoration: none;
}

.main-nav a:hover {
	text-decoration: underline;
}

/*--------------------------------------------------------------
Cards:
--------------------------------------------------------------*/

.cards {
	max-width: 25em;
	margin: 1em auto;
	padding: 0;
	list-style-type: none;

}

.cards a {
	display: block;
	margin-bottom: 1em;
	text-decoration: none;
}

.caption {
	padding: 1em;
	font-size: 90%;
	color: black;
}

.caption-title {
	margin: 0;
	font-size: 1.4em;
	line-height: 1em;
}

.caption p {
	margin-top: .5em;
	margin-bottom: 0;
}

.cards a:focus .caption,
.cards a:hover .caption {
	background: hsl(0, 0%, 97%);
}


/*--------------------------------------------------------------
Sidebar:
--------------------------------------------------------------*/


/*--------------------------------------------------------------
Footer:
--------------------------------------------------------------*/

.colophon {
	padding: 2em;
	background: hsl(0, 0%, 10%);
	color: white;
	text-align: center;
}

.colophon a {
	color: white;
}

.colophon a:hover,
.colophon a:focus {
	border-bottom: 1px solid white;
}

/*--------------------------------------------------------------
CSS Grid layout for wider screens, when browser supports grid:
--------------------------------------------------------------*/
/*--------------------------------

27em:
.site{
	position: relative;
	left: -14em;
	overflow-x: hidden;
	..................
}

.cards {
			margin: 0 auto;
			padding: 1em;
		}
.card {
			margin: 1em 0;
			padding: .5em;
			..........
		}

.reveal {
			left: 0;
		}
.trigger {
			position: fixed;
			...........
			top: 2em;
			left: 0em;
			transition: left .6s;
		}

		.reveal .trigger{
			left: 12.5em;
		}

60em:

		.cards {
			max-width: none;
			margin: 1em 0;
			..........
			grid-gap: 1em
		}
		.card {
			margin: 0;
		}
----------------------------------*/